@namespace U3A.UI.Forms

@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject NavigationManager navMan

<header class="navbar-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-2 p-1">
        <div class="w-100">
            <div tabindex="-1" class="h5 nav make-hover justify-content-center" onclick="location.href = '@NavigateTo';">
                <img src="images/u3alogo.png" width="81" />&nbsp; &nbsp; Member Portal
            </div>
        </div>
    </nav>
    <div align="center">
        <div class="h2 u3a-group text-info"><b>@settings?.U3AGroup</b></div>
        <div class="h5 text-info text-center">
            @(new MarkupString($"Phone: <b>{settings?.Phone}</b>"))
        </div>
    </div>
</header>


<style>
    .make-hover {
        cursor: pointer;
    }

    .u3a-group {
        display: block;
        margin-bottom: -0.1rem;
    }
</style>

@code {
    [Parameter]
    public string NavigateTo { get; set; } = "/";

    SystemSettings? settings;

    protected override async Task OnInitializedAsync()
    {
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            settings = await dbc.SystemSettings.FirstOrDefaultAsync();
        };
        await base.OnInitializedAsync();
    }

    void OnHeaderClick()
    {
        navMan.NavigateTo(NavigateTo, true);
    }

}
