@inject IJSRuntime js

<div id="fullscreen-element" class="d-flex normalscreen">
    @ContentTemplate
    <DxButton Click="@OnClick"
              tooltip="Clcik to display full screen"
              CssClass="toggle-button"
              IconCssClass="bi bi-arrows-fullscreen"             
              RenderStyle="ButtonRenderStyle.Secondary" />
</div>

<style>
    .toggle-button {
        height: 1.5rem;
        width: 1.5rem;
        top: 1px;
        right: 1px;
        position:sticky; 
        position: -webkit-sticky;
        opacity: 1;
    }
    .fullscreen {
        z-index: 1049;                  /* dxPopup z-index = 1050 */
        width: calc(100% + 1.5rem);
        height: 100vh;
        min-height: 100vh;
        max-height: 100vh;
        top: 0px;
        left: 0px;
        position: absolute;
        opacity: 1;
    }

    .normalscreen {
        height: @height;
        width: calc(100% + 1.5rem);
    }

</style>

@code {
    [Parameter]
    public RenderFragment ContentTemplate { get; set; } = default;

    string height = "100px";
    bool isFullscreen = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await RefreshLayout();
        }
    }

    async Task OnClick()
    {
        await js.InvokeVoidAsync("toggleFullscreen");
        isFullscreen = !isFullscreen;
        if (isFullscreen)
        {
            height = "100vh";
        }
        else {
            await RefreshLayout(); 
        }
        StateHasChanged();
    }

    public async Task RefreshLayout()
    {
        var newHeight = await Window.FitToRemainingHeight(js, "fullscreen-element", height);
        if (newHeight != height) { height = newHeight; InvokeAsync(StateHasChanged); }
    }
}
