@attribute [Authorize]

@inject NavigationManager NavMan

<DxFormLayout CssClass="col col-sm-4 mx-auto px-auto my-2">
    <DxFormLayoutGroup>
        <div class="w-100 text-center">
        <div class="h3 m-2">Tell a friend</div>
        <p>Do you know a U3A group that might be interested in our software?</p>
        <p>if so, please direct them to the website below, or click on the link to take you directly there.</p>
        <DxButton Text="Visit: https//:u3admin.org.au"
                  SizeMode=SizeMode.Large
                  IconCssClass="bi bi-globe"
                  SubmitFormOnClick="false"
                  RenderStyle="@ButtonRenderStyle.Primary"
                  RenderStyleMode="ButtonRenderStyleMode.Outline"
                  Click="@(() => NavMan.NavigateTo("https://u3admin.org.au"))" />
        <div class="h6 text-primary bi bi-heart mt-4">&nbsp; Thank you</div>
        </div>
    </DxFormLayoutGroup>
    <DxButton Text="Return to menu" SizeMode=SizeMode.Large CssClass="col col-12 mt-4" IconCssClass="bi bi-door-open" SubmitFormOnClick="false" RenderStyle="@ButtonRenderStyle.Secondary" Click="@ReturnToMenu" />

</DxFormLayout>


@code {

    [Parameter]
    public EventCallback<PortalMenuResult> OnSelectedOptionCompleted { get; set; }


    async Task ReturnToMenu() {
        await OnSelectedOptionCompleted.InvokeAsync(PortalMenuResult.MenuOptionCancelled);
    }

}