<div class="p-1">

    <DxAccordion ExpandMode="AccordionExpandMode.Single">
            <Items>
            <DxAccordionItem Text="New Support Option" CssClass="text-info" IconCssClass="bi bi-check-circle">
                <ContentTemplate>
                    <div class="card card-body pb-0 mb-0 scroll">
                        <p>We've added a new link at the botton of the menu to allow you to contact your U3A to obtain support.
                        Simply click <strong>Click for support</strong> with your mouse, complete and submit the support request form.</p>
                    </div>
                </ContentTemplate>
            </DxAccordionItem>
            <DxAccordionItem Text="Enrolment Improvements" CssClass="text-info" IconCssClass="bi bi-check-circle">
                <ContentTemplate>
                    <div class="card card-body pb-0 mb-0 scroll">
                        <div class="h5">Navigation</div>
                        <ul>
                            <li><strong>Change your course enrolments</strong> is now titled <strong>Manage your course enrolments</strong>.</li>
                            <li>When clicked, <strong>Manage your course enrolments</strong> will display a submenu...</li>
                            <ul>
                                <li>Use <strong>Request course enrolments</strong> to request additional classes to attend.</li>
                                <li>Use <strong>Withdraw from course enrolments</strong> to permanently withdraw from one or more classes.</li>
                            </ul>
                        </ul>
                        <div class="h5">Streamlined Processing</div>
                        <ul>
                        <li>New enrolment requests are now saved to the database immediately after clicking the <em>Ok</em> button to accept your selection</li>
                        <li>The <strong>Save</strong> button has been removed because it is no longer required.</li>
                            <li>The software now saves your class schedule list selection, Detail, Summary or Brief. The style saved will be restored when next you request enrolment.</li>
                        </ul>
                    </div>
                </ContentTemplate>
            </DxAccordionItem>
            <DxAccordionItem Text="View your course enrolments" CssClass="text-info" IconCssClass="bi bi-check-circle">
                <ContentTemplate>
                    <div class="card card-body pb-0 mb-0 scroll">
                        <p>
                            To conserve resources, the Google map is no longer automatically displayed for each class. 
                            To display the map, click the <strong>Map</strong> button.
                        </p>
                    </div>
                </ContentTemplate>
            </DxAccordionItem>
            <DxAccordionItem Text="Helpful Hints" CssClass="text-info" IconCssClass="bi bi-lightbulb">
                <ContentTemplate>
                    <div class="card card-body pb-0 mb-0 scroll">
                        <p>When requesting new enrolments...</p>
                        <ul>
                            <li>
                                Avoid Scrolling the class schedule when requesting additional enrolments. Scrolling large lists within a web browser is not a pleasant experience.
                                Use <strong>search</strong> if you know the class you are after.
                                Click a <strong>weekday</strong> to filter the class list to a given day.
                            </li>
                            <li>
                                Choose the style of class list to display.
                                <ul>
                                    <li>A <strong>Detail</strong> list provides full detail on all courses.</li>
                                    <li>A <strong>Summary</strong> list displays the course namme, description &amp; enrolment statistics only.</li>
                                    <li>A <strong>Brief</strong> list displays the course name and the weekday held only.</li>
                                </ul>
                            </li>
                            <li>
                                Click the <strong>Show selected only</strong> button 
                                if you have enrolled in a number of classes and wish to review your selections.
                            </li>
                        </ul>
                    </div>
                </ContentTemplate>
            </DxAccordionItem>
        </Items>
        </DxAccordion>

</div>

<style>
    .scroll {
        max-height: 15rem;
        overflow:auto;
    }
</style>

@code {

}
