@page "/TestPage"

@inject IDbContextFactory<U3ADbContext> U3Adbfactory

<h3>TestPage</h3>
<DxButton Click="@Process" Text="Test" ButtonType="ButtonType.Primary" />
<p>@message</p>

@code {

    string? message;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    async Task Process()
    {
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
           await BusinessRule.CreateUpdateLeaderHistoryAsync(dbc);
        }
        message = "Process completed successfully.";
        StateHasChanged();
    }
}
