@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1 class="h3">Forgot password confirmation</h1>
<p>
    Please check your email to reset your password.
</p>
<h1 class="h6 text-info">Need help?</h1>
<p>If you've already tried to reset your password, but haven't received a confirmation email, check your Junk or Spam folder.
    Alternantively, <a href="Account/ForgotPassword">request a password change again</a>, double-checking your email address.
</p>
<p>If you've recently updated your password, your old password could still be saved in your browser. Try clearing your browser history and re-typing your password.</p>
<p>If you need more password help, log a support request using the link below.
</p>
