@namespace U3A.UI.Forms

@using U3A.Services.APIClient
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Logging;

@inject IDbContextFactory<U3ADbContext> U3Adbfactory
@inject IDbContextFactory<TenantDbContext> TenantDbfactory
@inject TenantInfoService tenantService
@inject IWebHostEnvironment Environment
@inject ILogger<PortalLeaderReports> log


<MessageBox @ref="@messageBox" />
<Progress @ref="@ProgressBar" />

<div class="mx-4 my-1">
    <DxFormLayoutGroup Caption="Leader Reports" ColSpanXs="12">
        <div class="alert alert-info text-center m-1 p-2">
            <strong>Private Information</strong><br />
            Leader reports contain the private contact details of members. Please use &amp; dispose of responsibly in
            accordance with privacy law &amp; regulations in your State.
        </div>
        <SelectLeaderReports @ref=@rptSelect ColSpan="6"
                             AreSelectionsMade="@true"
                             QueueSelectedReports="OnQueueReportsSelected" />
    </DxFormLayoutGroup>
</div>

@code {

    [CascadingParameter]
    LoginState? loginState { get; set; }

    [Parameter, EditorRequired]
    public Term? selectedTerm { get; set; }
    [Parameter, EditorRequired]
    public Course? selectedCourse { get; set; }
    [Parameter, EditorRequired]
    public Class? selectedClass { get; set; }

    MessageBox messageBox;
    Progress? ProgressBar;

    SelectLeaderReports? rptSelect;
    ProFormaReportFactory reportFactory;

    async Task OnQueueReportsSelected()
    {
        var msg = await ProcessReportsAsync(false);
        if (msg == string.Empty) msg = $"<p>The selected documents have been queued for immediate processing. They will be sent via email shortly.</p>";
        await messageBox.ShowOkOnlyAsync("Leaders Reports", msg);
    }

    async Task<string> ProcessReportsAsync(bool IsPreview)
    {
        await ProgressBar.ShowSmallSpinnerAsync();
        var result = string.Empty;
        reportFactory = new ProFormaReportFactory(Environment, U3Adbfactory, IsPreview);
        var leader = loginState.SelectedPerson;
        using (var dbc = await U3Adbfactory.CreateDbContextAsync())
        {
            using (var dbcT = await TenantDbfactory.CreateDbContextAsync())
            {
                var enrolments = new List<Enrolment>();
                if (dbc.Enrolment.Any(x => x.ClassID == selectedClass.ID && x.TermID == selectedTerm.ID))
                {
                    enrolments = dbc.Enrolment.Include(x => x.Person)
                                              .Where(x => x.ClassID == selectedClass.ID
                                                        && x.TermID == selectedTerm.ID).ToList();
                    enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                                            await tenantService.GetTenantIdentifierAsync(),
                                                        selectedCourse.ID, selectedClass.ID));
                }
                else
                {
                    enrolments = dbc.Enrolment.Include(x => x.Person)
                                                .Where(x => x.CourseID == selectedCourse.ID
                                                                && x.TermID == selectedTerm.ID).ToList();
                    enrolments.AddRange(await BusinessRule.GetMultiCampusEnrolmentsAsync(dbc, dbcT,
                                            await tenantService.GetTenantIdentifierAsync(), selectedCourse.ID));
                };
                if (enrolments.Count > 0 || !rptSelect.RequireEnrolements)
                {
                    var mail = new SendMail()
                        {
                            ID = Guid.NewGuid(),
                            DocumentName = "U3A Leaders Reports",
                            Person = await dbc.Person.FindAsync(leader.ID),
                            PersonID = leader.ID,
                            TermID = selectedTerm.ID,
                            PrintAttendanceRecord = rptSelect.PrintAttendanceRecord,
                            PrintClassList = rptSelect.PrintClassList,
                            PrintCSVFile = rptSelect.PrintCSVFile,
                            PrintICEList = rptSelect.PrintICEList,
                            PrintLeaderReport = rptSelect.PrintLeaderReport,
                            PrintAttendanceAnalysis = rptSelect.PrintAttendanceAnalysis,
                            PrintMemberBadges = rptSelect.PrintMemberBadges,
                            RecordKey = selectedClass.ID,
                            IsUserRequested = true
                        };
                    dbc.Add(mail);
                    await dbc.SaveChangesAsync();
                    await SetStatus(dbc, mail.ID, "Queued");
                    try
                    {
                        var client = new APIClient();
                        await client.DoSendRequestedLeaderReports(dbc.TenantInfo.Identifier, new List<Guid> { mail.ID });
                    }
                    catch (HttpRequestException e)
                    {
                        result = $@"<p>An Internet issue is currently preventing you mail from being processed.</p>
                                        We'll keep trying. If you do not receive your mail withing the hour, contact your U3A.</p>
                            {e.Message}";
                        await SetStatus(dbc, mail.ID, ""); // Clear the status to allow retry
                    }
                    catch (Exception ex)
                    {
                        mail.Status = ex.Message;
                        await SetStatus(dbc, mail.ID, "Failed");
                    }
                }
                else { result = "<p>The selected reports could not be created because this course has no enrolments.</p>"; }
                rptSelect.PrintLeaderReport = false;
                rptSelect.PrintClassList = false;
                rptSelect.PrintICEList = false;
                rptSelect.PrintAttendanceRecord = false;
                rptSelect.PrintCSVFile = false;
                rptSelect.PrintAttendanceAnalysis = false;
                await ProgressBar.Close();
                return result;
            }
        }

    }

    async Task SetStatus(U3ADbContext dbc, Guid IdToSend, string Status)
    {
        var mail = await dbc.SendMail.FindAsync(IdToSend);
        mail.Status = Status;
        await dbc.SaveChangesAsync();
    }

}
