@page "/ExceptionLogPage/{id}"

@inject IDbContextFactory<TenantDbContext> tenantDbfactory

<h3>Exception Log</h3>

<pre>@log?.Exception</pre>

<style>
    pre {
        font-size: 12px;
        height: 80%;
    }
</style>

@code {
    [Parameter]
    public string id { get; set; }

    LogEvents? log;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(id))
        {
            using (var dbc = tenantDbfactory.CreateDbContext())
            {
                int key = int.Parse(id);
                log = await dbc.LogEvents.FindAsync(key);
            }
        }
        await base.OnInitializedAsync();
    }
}
