@page "/ExceptionLogPage/{id}"

@inject IDbContextFactory<TenantDbContext> tenantDbfactory

<h3>Exception Log</h3>

<table class="w-75">
    <tr>
        <td>@log?.TimeStamp.ToLongDateString()</td>
        <td>@log?.TimeStamp.ToLongTimeString()</td>
        <td>@log?.Tenant</td>
        <td>@log?.User</td>
    </tr>
</table>

<pre>@log?.Exception</pre>

<style>
    pre {
        margin-top: 0.5rem;
        font-size: 12px;
        height: 80%;
    }
</style>

@code {
    [Parameter]
    public string id { get; set; }

    LogEvents? log;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrWhiteSpace(id))
        {
            using (var dbc = tenantDbfactory.CreateDbContext())
            {
                int key = int.Parse(id);
                log = await dbc.LogEvents.FindAsync(key);
            }
        }
        await base.OnInitializedAsync();
    }
}
