@page "/"

<h3>Welcome!</h3>
<AuthorizeView>
    <Authorized>
        <p>Please select an option from the menu.</p>
    </Authorized>
    <NotAuthorized>
        <p>Please login to use this software.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

}
