
<div class="indicator-style"><DxWaitIndicator Visible=true /><em>Loading...</em></div>

<style>
    .indicator-style {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        color: var(--DS-color-content-neutral-default-rest);
        margin-top: 2.5rem;
        gap: 0.5rem;
    }
</style>