
<div class="loading-indicator-style">
    <DxWaitIndicator Visible=true CssClass="text-fl-primary" />
        <em>Loading...</em>
    </div>

<style>
    .loading-indicator-style {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        color: var(--DS-color-content-neutral-default-rest);
        margin-top: 2.5rem;
        gap: 0.5rem;
    }

</style>