@inject WorkStation ws
@inject IDbContextFactory<U3ADbContext> U3Adbfactory

<div class="d-flex flex-column sidebar-style">
    <img src="images/U3ALogo.png" style="max-width: 81px; height: 28px" />
    <div class="h5 flex-row fluent-primary mt-1">@OrganisationName</div>
    <MainMenu IsTopMenu=false />
    <SidebarImageComponent />
</div>

<style>
    .sidebar-style {
        margin-top: 2.6rem;
        width: inherit;
    }
</style>

@code {

    [Parameter] public EventCallback MenuItemClick { get; set; }

    string OrganisationName = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        using (var dbc = U3Adbfactory.CreateDbContext())
        {
            OrganisationName = dbc.TenantInfo.Name!;
        }
    }

}