@inject WorkStation ws
@inject IDbContextFactory<U3ADbContext> U3Adbfactory

<div id="minimiseButton" class="p-1 minimise-button-container">
    <DxButton Click="OnToggleMinimised" Visible=@IsMinimised
              CssClass="menu-item mt-2"
              IconCssClass="bi bi-list menu-icon"
              SizeMode="SizeMode.Large"
              RenderStyleMode="ButtonRenderStyleMode.Text"
              RenderStyle="ButtonRenderStyle.Secondary" />
</div>

<div id="sidebar" class="@(IsMinimised ? "d-none": "")">

    <DxGridLayout RowSpacing="0rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn />
            <DxGridLayoutColumn Width="auto" />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <span class="minimise-button-container">
                        <DxButton Click="OnToggleMinimised"
                                  IconCssClass="bi bi-list menu-icon"
                                  SizeMode="SizeMode.Large"
                                  RenderStyle="ButtonRenderStyle.Secondary" 
                                  RenderStyleMode="ButtonRenderStyleMode.Text" />
                        <img src="images/U3ALogo.png" />
                    </span>
                    <div class="h5 menu-title w-100">@OrganisationName</div>
                    @if (isXmas)
                    {
                        <svg class="img-bg-xmas" alt="xmas">
                            <use href="images/vectors.svg#xmas"></use>
                        </svg>
                    }
                    else
                    {
                        <svg class="img-bg-flower" alt="flower">
                            <use href="images/vectors.svg#flowerLight"></use>
                        </svg>
                    }

                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <MainMenu IsTopMenu=false />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
    public bool IsMinimised { get; set; } = false;
    bool isXmas = false;
    string OrganisationName = string.Empty;

    void OnToggleMinimised()
    {
        IsMinimised = !IsMinimised;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            using (var dbc = U3Adbfactory.CreateDbContext())
            {
                OrganisationName = dbc.TenantInfo.Name!;
                var today = dbc.GetLocalDate();
                var xmas = new DateTime(today.Year, 12, 25);
                if (today > xmas.AddDays(-7) && today <= xmas) { isXmas = true; }
                StateHasChanged();
            }
        }
    }

}