@inject WorkStation ws

<div id="minimiseButton" class="p-1 minimise-button-container bg-primary">
    <DxButton Click="OnToggleMinimised" Visible=@IsMinimised
              CssClass="m-auto"
              IconCssClass="bi-arrow-right-circle"
              SizeMode="SizeMode.Large"
              RenderStyle="ButtonRenderStyle.Primary" />
</div>

<div id="sidebar" class="@(IsMinimised ? "d-none": "")">

    <DxGridLayout RowSpacing="0rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn />
            <DxGridLayoutColumn Width="auto" />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <span class="minimise-button-container">
                        <DxButton Click="OnToggleMinimised"
                                  CssClass="@((ws.theme.StartsWith("fluent")) ? "fluent-menu-item" : "menu-item")"
                                  IconCssClass="bi bi-arrow-left-circle"
                                  SizeMode="SizeMode.Large"
                                  RenderStyleMode="ButtonRenderStyleMode.Text" />
                    </span>
                    <img src="images/U3ALogo.png" />
                    <svg class="img-bg" alt="flowers" >
                        <use href="images/vectors.svg#flowerLight"></use>
                    </svg>

                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <MainMenu IsTopMenu=false />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
    public bool IsMinimised { get; set; } = false;

    void OnToggleMinimised()
    {
        IsMinimised = !IsMinimised;
    }

}