@inject WorkStation ws
@inject IDbContextFactory<U3ADbContext> U3Adbfactory

<DxGridLayout>
    <Rows>
        <DxGridLayoutRow Areas="blank" Height="2.6rem"></DxGridLayoutRow>
        <DxGridLayoutRow Areas="header" Height="auto"></DxGridLayoutRow>
        <DxGridLayoutRow Areas="navigation"></DxGridLayoutRow>
    </Rows>
    <Columns>
        <DxGridLayoutColumn />
        <DxGridLayoutColumn Width="auto" />
    </Columns>
    <Items>
        <DxGridLayoutItem Area="header" CssClass="d-flex-column sidebar-header">
            <Template>
                <img src="images/U3ALogo.png" />
                <div class="h5 menu-title w-100">@OrganisationName</div>
                <SidebarImageComponent />
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Area="navigation" CssClass="layout-item">
            <Template>
                <MainMenu IsTopMenu=false />
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>

@code {

    [Parameter] public EventCallback MenuItemClick { get; set; }

    string OrganisationName = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        using (var dbc = U3Adbfactory.CreateDbContext())
        {
            OrganisationName = dbc.TenantInfo.Name!;
        }
    }

}