@inherits LayoutComponentBase
@layout BasicLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <PortalHeader NavigateTo="/" />
    <div class="container">
        <main role="main" align="center">
            <div align="center">
                <div class="card p-2 my-4 col-12 col col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    @Body
                </div>
            </div>
        </main>
    </div>
    <footer class="footer text-muted" align="center" >
            &copy; @(DateTime.Today.Year) - U3Admin.org.au
            <a href="Public/Support/true">Click for support</a> @* true == require Captcha *@
    </footer>

}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
