@inherits LayoutComponentBase
@layout BasicLayout
@inject NavigationManager NavigationManager
@using U3A.Components.Layout
@using U3A.Database


@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@($"{tenantId}: Account")</PageTitle>
    <PortalHeader NavigateTo="/" />
    <div class="container">
        <main role="main" align="center">
            <div align="center">
                <div class="alert alert-neutral p-2 my-4 col-12 col col-sm-8 col-md-6 col-lg-5">
                    @Body
                </div>
            </div>
        </main>
    </div>
    <footer class="w-100 links-container">
        &copy; @(DateTime.Today.Year) M &amp; B Hanlon Pty Ltd
        <div class="dot" />
        <a href="Public/Support">Click for support</a>
    </footer>

}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
    string? tenantId;

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
        else
        {
            HostStrategy hs = new HostStrategy();
            tenantId = hs.GetIdentifier(HttpContext.Request.Host.Host);
        }
    }
}
