@inherits LayoutComponentBase
@layout BasicLayout
@inject NavigationManager NavigationManager

<PortalHeader NavigateTo="/" />
<div class="container">
    <main role="main">
        <div align="center">
            <div class="card p-2 my-4 col col-12 col-sm-8 col-md-6 col-lg-5">
                @Body
            </div>
        </div>
    </main>
</div>
<footer class="footer pl-3 text-muted text-center" align="center">
        &copy; @(DateTime.Today.Year) - U3Admin.org.au
        <a href="Public/Support">Click for support</a> 
</footer>

@code {

    void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
