@using Microsoft.AspNetCore.Mvc.ViewFeatures

@inject IFileVersionProvider FileVersionProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <base href="/" />

    <link id="theme" href=@AppendVersion("_content/DevExpress.Blazor.Themes/office-white.bs5.min.css") rel="stylesheet" />
    <link href=@AppendVersion("_content/DevExpress.Blazor.RichEdit/dx-blazor-richedit.css") rel="stylesheet" />
    <link href=@AppendVersion("_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.bs5.css") rel="stylesheet" />

    <link rel="stylesheet" href="@Assets["https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"]">

    <link rel="apple-touch-icon" href=@Assets["/favicon/apple-touch-icon.png"]>
    <meta name="web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="icon" type="image/png" sizes="32x32" href=@Assets["/favicon/favicon-32x32.png"]>
    <link rel="icon" type="image/png" sizes="16x16" href=@Assets["/favicon/favicon-16x16.png"]>
    <link rel="icon" type="image/ico" href=@Assets["/favicon/favicon.ico"]>
    <link rel="stylesheet" href=@Assets["css/site.css"] />
    <link href=@Assets["U3A.styles.css"] rel="stylesheet" />
    <link rel="manifest" href=@Assets["/favicon/site.webmanifest"]>
    <ImportMap />

    <HeadOutlet @rendermode="@PageRenderMode" />

</head>

<body>

    @* For logout *@
    <form id="logout-form" action="Account/Logout" @formname="logout" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="" />
    </form>


    <Routes @rendermode="@PageRenderMode" />

    <script src=@Assets["_framework/blazor.web.js"]></script>
    <script type="text/javascript" src=@Assets["/js/qr.js"]></script>
    <script type="text/javascript" src=@Assets["/lib/qrcode.min.js"]></script>


    <script type="text/javascript" src=@Assets["/js/MyFunctions.js"]></script>
    <script type="text/javascript" src=@Assets["/js/reCaptchaV2.js"]></script>
    <script>navigator.serviceWorker.register('service-worker.js');</script>
    <script type="text/javascript" src=@Assets["/js/timeout.js"]></script>
    <script src=@Assets["https://secure.ewaypayments.com/scripts/eCrypt.min.js"]></script>

    <script>
        function GetTimezoneOffset() {
        // Returns the time difference in minutes between UTC time and local time.
        return new Date().getTimezoneOffset();
        }
    </script>
    <script>

        window.triggerFileDownload = (fileName, url) => {
        const anchorElement = document.createElement('a');
        anchorElement.href = url;
        anchorElement.download = fileName ?? '';
        anchorElement.click();
        anchorElement.remove();
        }
    </script>


</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string AppendVersion(string path) => FileVersionProvider.AddFileVersionToPath("/", path);
    private IComponentRenderMode? PageRenderMode =>
            HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

}
