
    <div id="notInteractive" class="p-2">
        <U3A.UI.Forms.Pages.Introduction.MenuIntroduction Title="We're Sorry!"
        Introduction="<p>Your device's internet browser does not support the capability required
        to execute our application.
        <br/>If possible, please upgrade your browser to the latest version or use another device
        <p><b>Note:</b> Apple devices must be executing iOS 16.7.10 or greater</p>
        <p>This page may be the result of a transient Internet connectivity issue or, an issue with your browser's cache.</p>
        <p>Clear your cache and tryagain, or click the button below to retry now.</p>
        <button class='m-4' type='button' onclick='location.reload(true)' >Reload Page</button>
        </p>        
        "
        VectorUri="images/vectors.svg#admin" />
    </div>

<style> 
    #notInteractive { 
        display: none; 
    } 
</style>

@code {
}
