
<div id="notInteractive" class="p-2">
 <U3A.UI.Forms.Pages.Introduction.MenuIntroduction Title="We're Sorry!"
    Introduction="<p>Your device's internet browser does not support the capability required
        to execute our application.
        </p>
        <p>If possible, please upgrade your browser to the latest version or use anther device</p>
        <p>We apologise for the inconvenience.</p>
        <p><b>Note:</b> Apple devices must be executing iOS 16.7.10 or greater</p>
    "
    VectorUri="images/vectors.svg#admin" />
</div>

<style> 
    #notInteractive { 
        display: none; 
    } 
</style>


@code {
}
